body, ul{
    background: rgb(100, 65, 165); 
    margin: 0px;
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

 a:hover {
    background: rgba(0, 0, 0, .05);
}

#logo {
    width: 130px;
    height: 150px;
    
}

#header {
    box-sizing: border-box;
    height: 160px;
    padding: 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-around;
    background: rgb(100, 65, 165); 
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    
}

#menu a {
    display: block;
    padding: .5rem;
}

#botao-mobile {
    display: none;
}

@media (max-width:767px) {

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 120px;
        right: 0px;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .5);
    }

    #botao-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        font-family: sans-serif;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: white;
    }
   
    #hamburguer {
        border-top: 2px solid;
        width: 20px;
        display: block;
 }

   #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
   }

   #nav.active #hamburguer {
    border-top-color: transparent;
   }

   #nav.active #hamburguer::before{
    transform: rotate(135deg);
   }

   #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
   }
}

@media screen and (min-width: 767px) {
    .lista-menu__item {
        font-family: sans-serif;
        font-size: 22px;
        font-weight: bold;
    } 
}

@media screen and (min-width: 1024px) {

    #header {
        height: 250px;
    }

    #logo {
        width: 200px;
        height: 220px;
    }

    .lista-menu__item {
        font-size: 22px;
        padding: 1.5rem;
    }


}
