.contato {
    padding: 1rem;
}

.contato__titulo {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    padding-bottom: 1rem;
    text-align: center;
}

.contato__texto {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    padding-bottom: 1rem;
    text-align: center;  
}

.contato__email {
    border: 1px solid white;
    border-radius: 24px;
    width: 90%;
    padding: 1rem;
   
}

.contato__email::placeholder {
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(100, 65, 165) ;
    background: url(../img/mail.png);
    background-repeat: no-repeat;
    padding-left: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
    }

    .contato__titulo {
        font-size: 20px;
        font-weight: bold;
    }

    .contato__texto {
        font-size: 18px;
    }
}
